
  
.gallery img {
    width: 300px;
    height: auto;
    border-radius: 5%;
    margin: 0;
}
  
.desc {
    padding: 5px;
    text-align: center;
}
/* #ee7752, #e73c7e, #23a6d5, #23d5ab */
.head{
    text-align: center;
    color: #ffffff;
    font-size: 20px;

}
.descs {
    padding: 5px;
    text-align: center;
    color: #000000;
}
/* #ee7752, #e73c7e, #23a6d5, #23d5ab */
.heads{
    text-align: center;
    color: #000000;
    font-size: 20px;

}
.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
    margin: 30px 0;
  }
  
 
  @media (max-width: 760px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media  (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  

  .acti{
    font-size: 60px;
  }
.subacti{
    padding-bottom: 70px;
}
.certifi{
    height: 1250px;
    background-color: white;
    
}
.certitle{
    text-align: center;
    color: black;
    font-size: 70px;
}
.gallery:hover img {
    transform: scale(1.2);
  }
  
  @media (max-width: 760px) {
    .certifi{
        height: 1550px;

    }
    
  }
  
  @media  (max-width: 500px) {
    .certifi {
      height: 5000px;
    }
  }